<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:utext="#{page.title.forgotPasswordPending}">
    Forgot Password Pending Verification
  </title>
</head>

<body>
<div>
  <section id="main_content">
    <div class="content">
      <h1><span th:utext="#{message.forgotPassword}"></span></h1>
      <div class="container">
        <div>
          <span th:utext="#{message.resetPasswordEmail}"></span>
        </div>
      </div>
      <a th:href="@{/login}" th:utext="#{action.login}">login</a>
      <a th:href="@{/}" th:utext="#{page.title.home}">home</a>
    </div>
  </section>
</div>
</body>
</html>
