<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/base :: common_header(~{::title},~{::link})">
  <title>A·K·D·M·V·M Profile</title>
  <link rel="stylesheet" href="../../static/css/app.css" th:href="@{/css/app.css}"/>
</head>
<body>

<main class="container">

  <h1>Profile</h1>


  <div sec:authorize="isAuthenticated()">
    Estás autenticado, puedes hacer <a th:href="@{/logout}">Log out</a>

    <p>
      Username: <span sec:authentication="name">default</span> <br>
      tus authorities son: <span sec:authentication="principal.authorities"></span>
    </p>


    <p>
      <a th:href="@{/backstage}" th:text="#{label.pages.backstage}" class="btn btn-light">Backstage</a>
    </p>

  </div>



</main>


</body>
</html>